<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.alexbalt.gameup2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="GameUp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventspgActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".EditAccountActivity" />
        <activity android:name=".ProfilesActivity" />
        <activity android:name=".EditEventActivity"></activity>
    </application>

</manifest>